<section class="row">
            <article class="col-lg-12 text-center">
                <h1>Chitter</h1>
                <form id='new-post' action='/posts' method='post'>
                    <input type='text' name='post' placeholder='Say Something'>
                    <input type='submit' value="Submit" class="button">
                </form><br>    
                <!-- <ul class="list-unstyled">
                    <li>fill</li>
                    <li>fill</li>
                </ul> -->
            </article>

</section>
        <!-- /.row -->
