<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chitter</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <% if(!login) { %>
                    <li>
                        <a id="loginbutton" href="#">Login</a>
                    </li>
                    <li>
                        <a id="signupbutton" href="#">Signup</a>
                    </li>
                <% } else { %>
                    <li>
                        <a id='logout' href='#'>Log out</a>
                    </li>
                <% } %>        
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <!-- Page Content -->

        <section class='tempMessages'></section>

        <section class="container">
        <% if(!login) { %>
                <form id="signin" class="form-signin">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <input id='email' type="text" class="input-block-level" placeholder="Email address">
                    <input id='password' type="password" class="input-block-level" placeholder="Password">
                    <label class="checkbox">
                      <input type="checkbox" id="myCheckbox" /><label for="myCheckbox">Remember Me</label>
                    </label>
                    <button id="login" class="btn btn-large btn-primary" type="submit">Sign in</button>
                </form>

                <form id="signup" class="form-signin">
                <h2 class="form-signin-heading">Please sign up</h2>
                    <input id='new-email' type="text" class="input-block-level" placeholder="Email address">
                    <input id='new-username' name="username" type="text" placeholder="username">
                    <input id='new-name' name="full_name" type="text" placeholder="Full Name"> 
                    <input id='new-password' type="password" class="input-block-level" placeholder="Password"> 
                    <button id="new-user" class="btn btn-large btn-primary" type="submit">Signup</button>
                </form>
        <% } %>

            <section class="row">
                <article class="col-lg-12 text-center">
    
    <% if(login) { %>
                    <h1>Chitter</h1>
                    <form id='new-post' action='/posts' method='post'>
                        <input id='body' type='text' name='post' placeholder='Say Something'>
                        <input type='submit' id='submit' value="Submit" class="button">
                    </form><br>    
                    <ul class="post-post">
                    
                    </ul>
                </article>

            </section>
        </section>
    <!-- /.container -->
    <% } %>


    <!-- jQuery Version 1.11.1 -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>

    <!-- Socket io -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!--other Javascript -->
    <script type="text/javascript" src="js/interface.js"></script>

    <% if(login) { %>
        <script> loadPosts(); 
        var socket = io();
        socket.on('new-post', function(data) {
            console.log('received something');
            $('<li class="post-body">' + data.body + '<p class="post-user">' + data.createdAt + 
            '<br><br><button class="delete" data-id=' + data._id + ' type="submit">Delete</button></p></li>').hide().prependTo('.post-post').fadeIn('slow');
        });

        socket.on('delete-post', function(_id) {
            $('.post-post').find("[data-id='" + _id + "']").closest('.post-body').remove().fadeOut('slow');
        });
        </script>
    <% } %>

    <script>
    $('#signupbutton').on('click', function() {
        $('#signin').fadeOut('slow', function() {
            $('#signup').fadeIn('slow');
        });
    });
    </script>
    <script>
    $('#loginbutton').on('click', function() {
        $('#signup').fadeOut('slow', function() {
            $('#signin').fadeIn('slow');
        });
    });
    </script>

</body>

</html>