<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chitter</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Signup</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <section class="container">
        <section class="row">
            <article class="col-lg-12 text-center">
                <h1>Chitter</h1>
                <form id='new-post' action='/posts' method='post'>
                    <input id='body' type='text' name='post' placeholder='Say Something'>
                    <input type='submit' id='submit' value="Submit" class="button">
                </form><br>    
                <ul class="post-post">
                
                </ul>
            </article>

        </section>
    </section>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!--other Javascript -->
    <script> src="js/interface.js"</script>

    <script> 
    $(document).ready(function() {
        $.get('http://localhost:3000/posts', function(data) {
            console.log(data);
            $.each(data, function(index, post) {
                console.log(post)
                $('.post-post').append('<li class="post-body">' + post.body + '<p class="post-user">' + post.createdAt + '</p></li>');
            });
        });

        $('#submit').on('click', function(event) {
            // event.preventDefault();
            var body = $('#body').val();
            console.log(body);
            $.post('http://localhost:3000/posts', {post: body}, function(data) {
                $('.post-post').append('<li class="post-body">' + data.body + '<p class="post-user">' + data.createdAt + '</p></li>');
            });
        });

    });

    </script>

</body>

</html>